.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

a:visited { 
 text-decoration: none; 
 color: #e9967a; 
}

@font-face{
   src: url(fonts/DMSans-Medium.ttf);
   font-family: dmsansmed;
}

@font-face{
   src: url(fonts/SpaceGrotesk[wght].ttf);
   font-family: spacegrotesk;
}

@font-face{
   src: url(fonts/Chivo-Regular.ttf);
   font-family: chivo-regular;
}

@font-face{
   src: url(fonts/Chivo-Light.ttf);
   font-family: chivo-light;
}

@font-face{
   src: url(fonts/Cormorant-SemiBold.ttf);
   font-family: comorant-semibold;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


h1{
   font-family: dmsansmid;
   color: #6495ed;
   display: flex;
   width: 100%;
   font-size: 40px;
   text-align: left;
   min-height: 7vh;
   background-color: #ffe4b5;
   background-color: rgba(255,228,181,0.5);
   letter-spacing: .2rem;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 5vh;
   background-color: #fff8dc;
   font-family: chivo-regular;
   font-size: 10px;
   color: #f8f8ff;
   background-color: rgba(248,248,255, 0.4);
}

.nav__links{
   display: flex;
   justify-content: space-around;
   width: 100%;
   list-style-type: none;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover {color:#ff00ff;
}

a:active { text-decoration: none; }

.banner{
   font-family: chivo-regular;
   font-size: 12px;
}

.signature{
   transform: scale(-1, 1);
   -moz-transform: scale(-1, 1);
   -webkit-transform: scale(-1, 1);
   -o-transform: scale(-1, 1);
   -ms-transform: scale(-1, 1);
   transform: scale(-1, 1);
   font-family: chivo-regular;
   font-size: 10px;
   position:absolute;
   bottom:0;
   right:0;
   color:#f8f8ff;
}

.stamp{
   font-family: chivo-regular;
   font-size: 10px;
position: absolute;
bottom:0;
left:0;
color:#FFFFFF;
}


