
a:visited { 
 text-decoration: none; 
 color: #ff00ff; 
}

@font-face{
   src: url(fonts/SpaceGrotesk[wght].ttf);
   font-family: spacegrotesk;
}

@font-face{
   src: url(fonts/DMSans-Medium.ttf);
   font-family: dmsansmed;
}

@font-face{
   src: url(fonts/Chivo-Regular.ttf);
   font-family: chivo-regular;
}

@font-face{
   src: url(fonts/Chivo-Light.ttf);
   font-family: chivo-light;
}

@font-face{
   src: url(fonts/Cormorant-SemiBold.ttf);
   font-family: comorant-semibold;
}

@font-face{
   src: url(fonts/MySoul-Regular.ttf);
   font-family: mysoul;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1{
   font-family: dmsansmid;
   color:#FFFFFF;
   display: flex;
   width: 100%;
   font-size: 40px;
   text-align: left;
   min-height: 7vh;
   background-color: #FFFF00;
   letter-spacing: .2rem;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 5vh;
   font-family: chivo-regular;
   font-size: 10px;
   background-color:#FFFFFF;
}

.nav__links{
   display: flex;
   justify-content: space-around;
   width: 100%;
   list-style-type: none;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover {color:#FFFFFF;
}

a:active { text-decoration: none; }

body {
background-color:#fffff0;
}

.container {
   font-family: chivo-regular;
   font-size: 12px;
   margin: 10px;
}

.signature{
   transform: scale(-1, 1);
   -moz-transform: scale(-1, 1);
   -webkit-transform: scale(-1, 1);
   -o-transform: scale(-1, 1);
   -ms-transform: scale(-1, 1);
   transform: scale(-1, 1);
   font-family: chivo-regular;
   font-size: 10px;
   position:absolute;
   bottom:0;
   right:0;
   color:#008000;
}

